<%- include('parts/top.ejs') %>
<br/>
<br/>
<br/>
<br/>
<div class="container text-center my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img class="img-fluid" src="images/client-01.png" alt="Book Image Not Found">
    </div>
    <div class="col-md-6">
      <h1>Book Title</h1>
      <h4>Author Name</h4>
      <span class="h3 text-primary">$20</span>
      <p class="mt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non asperiores laudantium et incidunt magnam nisi, ratione
        praesentium voluptate itaque ut dolorum eligendi voluptatem possimus, dicta saepe? Officia est iste molestiae.
      </p>
    </div>
  </div>
</div>

<br/>
<br/>
<%- include('parts/bottom.ejs') %>
