<%- include('Parts/top.ejs') %>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <form>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form2Example1" name="email" class="form-control" placeholder="Email" />
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" name="password" class="form-control" placeholder="Password" />
        </div>
        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Login</button>
     
      </form>
</div>
<%- include('Parts/bottom.ejs') %>
